.home_booking_container {
    width: 100%;
    height: 70vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_booking_container .home_bookig_main {
    padding: 10px;
    width: 90%;
    height: 160px;
    background-color: white;
    border-radius: 8px;
}

.common_search_field_height {
    height: 40px !important;
}

/* .input_field_container {
    display: flex;
    align-items: center;
} */

/* .train_search_input_field {
    width: 70%;
} */

.search_station_field {
    height: 41px !important;
    margin-top: 11px !important;
}

.dropdown_row {
    cursor: pointer;

}

.dropdown_bx {
    width: 100%;
    border: 1px solid #b1a9b98f;
    background-color: #fff;
    padding: 8px 13px;
    margin: -8px 8px;
    z-index: 999;
    border-radius: 2px;
}

.dropdown_bx:empty {
    border: none;
}

.arrow_icon {
    background-color: rgb(24, 118, 210);
    border-radius: 50%;
    font-size: 31px;
    padding: 5px;
    color: #fff;
}

.arrow_icon_wrapper {
    margin-top: 1rem;
    padding-left: 9px;
}

.arrow_icon:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* .MuiInputBase-colorPrimary {
    flex-direction: row-reverse !important;
} */

.tomorrow_btn {
    margin: 9px !important;
    width: 100% !important;
    font-size: 8px !important;
    padding-left: 0px !important;
    padding-right: 0 !important;
    background-color: none !important;
    border: 1px solid #0000003d !important;
    color: rgba(0, 0, 0, 0.438) !important;
    /* line-height: 1.55 !important; */
    height: 40px !important;
}

/* Date Picker */
/* .date_picker input {
    font-size: 14px !important;
} */

.active {
    margin: 9px !important;
    width: 100% !important;
    font-size: 8px !important;
    padding-left: 0px !important;
    padding-right: 0 !important;
    background-color: #1876d2 !important;
    border: 1px solid #1876d2 !important;
    color: #fff !important;
    height: 40px !important;
}

.search_btn {
    margin: 9px !important;
    width: 100% !important;
    font-size: 15px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.4rem !important;
    height: 40px !important;
}

/* search details css */
.search_detail_container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.search_detail_paper {
    width: 95%;
    padding: 2rem;
}

.search_detail_paper .search_detail_title {
    text-align: center;
    padding-bottom: 1.8rem;
    padding-bottom: 1.5rem;
    color: rgb(68, 68, 68) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.search_detail_paper .card_bx {
    position: relative;
    padding: 1rem;
    border-radius: 3px;
    height: 169px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card_bx .left_card_bx {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 7rem 0 0;
}

.search_details_icon_bx {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.search_details_icon_bx .search_details_icon {
    background: rgb(24, 118, 210);
    color: #fff !important;
    border-radius: 50% !important;
    padding: 8px !important;
    font-size: 35px !important;
}

.search_details_icon_bx span:hover {
    opacity: 0.9 !important;
}

.card_bx .train_available_coach {
    display: flex;
    justify-content: space-between;
    color: #323232;
}

.card_bx .chance_bx {
    margin-top: 1.5rem;
    position: absolute;
    color: #323232;
}

.card_bx .chance_bx span {
    position: absolute;
    top: 1px;
    left: 60px;
}

.card_bx .seat_birth {
    color: teal;
    font-weight: 900;
}

.seat_birth .seat_birth_icon {
    font-size: 16px;
    margin-left: 7px;
}

.chance_bx .chance {
    font-size: 12px;
    padding-top: 10px;
}


.card_bx .book_button button {
    background-color: rgb(24, 118, 210);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 21px;
}

card_bx .book_button button:hover {
    opacity: 0.8 !important;
}