.box_container {
    margin-top: 3rem;
}

.my_booking_card_bx {
    width: 27rem !important;
    box-shadow: rgb(0 0 0 / 14%) 0px 1px 4px 0px !important;
}

.my_booking_card_bx .card_bx_logo {
    text-align: center;
    padding-bottom: 1rem;
}

.my_booking .logo {
    text-align: center;
    margin: 50px 5px 5px;
}

.card_bx .logo {
    text-align: center;
}

.card_bottom .error_msg {
    font-size: 12px;
    /* padding: 5px 0; */
    color: red;
}

.empty_error_msg {
    margin-top: 1rem !important;
}

.card_bottom Button {
    width: 100% !important;
    padding: 10px 0 !important;
    border-radius: 10px !important;
    text-transform: capitalize !important;
}

.term_condition {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.38);
    font-size: 11px;
    line-height: 1.5;
    margin-top: 12px
}

@media(max-width:438) {
    .my_booking_card_bx {
        width: 20rem !important;
        padding: 10px !important;
    }

    .box_container {
        margin-top: 0.1rem;
        padding: 0.5rem;
    }
}